html,
body {
  height: 700px;
  width: 1100px;
  color: #111;
}

.tooltip {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

.game {
  height: 100%;
  width: 100%;
  border: 1px solid #111;
  position: relative;
}

.game > * {
  position: relative;
}

.settings-bg {
  display: none;
  position: absolute; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.settings-inner {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px 20px;
  z-index: 2;
}

.settings-inner * {
  margin: 0;
}

.play-time,
.time-since-upgrade {
  float: right;
}

.row-1 {
  height: 20%;
}

.row-2 {
  height: 20%;
}

.row-3 {
  height: 55%;
}

.balance-inner {
  padding: 10px 50px;
  border: 2px #111111 solid;
  border-radius: 4px;
}

.balance-inner * {
  margin: 0;
}

.mark-two {
  animation: tColor 30s infinite linear;
  color: var(--primary);
}

@keyframes tColor {
  20% {
    color: var(--success);
  }
  40% {
    color: var(--warning);
  }
  60% {
    color: var(--danger);
  }
  80% {
    color: var(--info);
  }
  100% {
    color: var(--primary);
  }
}

.warehouse {
  font-size: 140px;
  top: 10px;
  left: -23px;
}

.wt {
  position: absolute;
  font-size: 30px;
  top: 150px;
  left: 180px;
  display: none;
}

.shipment-info {
  padding-top: 20px;
  padding-right: 47px;
}

.warehouse-info {
  padding-right: 47px;
}

.level-up-warehouse {
  display: none;
  position: absolute;
  font-size: 30px;
  padding: 0 5px;
  top: 33px;
  left: 175px;
  height: 36px;
  width: 36px;
  z-index: 1;
}

.level-up-warehouse > .fa-angle-double-up {
  top: -6px;
  position: relative;
}

.factory {
  font-size: 160px;
}

.mint-warning {
  display: none;
  color: var(--danger);
}

.level-up-mint {
  position: absolute;
  font-size: 30px;
  padding: 0 5px;
  top: 33px;
  left: 195px;
  height: 36px;
  width: 36px;
  z-index: 1;
}

.level-up-mint > .fa-angle-double-up {
  top: -6px;
  position: relative;
}

.warning-white-back {
  background-color: #fff;
  border: 4px solid var(--warning);
  color: var(--warning);
}

.ft {
  position: absolute;
  font-size: 30px;
  top: 150px;
  left: 190px;
  display: none;
}

.bank {
  font-size: 160px;
  left: 10px;
}
.bank:hover {
  cursor: pointer;
}
.bank:hover > :first-child {
  filter: drop-shadow(0 0 5px var(--gray));
}
.bank:active {
  color: var(--success);
}
.bank:active > :first-child {
  filter: drop-shadow(0 0 2px var(--gray));
}

.dollar-counter,
.bank-info {
  padding-left: 20px;
}

.level-up-bank {
  display: none;
  position: absolute;
  font-size: 30px;
  padding: 0 5px;
  top: 33px;
  left: 195px;
  height: 36px;
  width: 36px;
  z-index: 1;
}

.level-up-bank > .fa-angle-double-up {
  top: -6px;
  position: relative;
}

.toggle-stats {
  font-size: 40px;
  cursor: pointer;
}
