/* @import url('https://fonts.googleapis.com/css?family=Lato:400,700'); */
/* @import url('https://fonts.googleapis.com/css?family=Oxygen:400,700'); */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

h1 {
  font-weight: 400;
  font-size: 80px;
  text-align: center;
  margin: 0;
}

#container {
  margin: auto;
  width: 470px;
}

.pointer {
  cursor: pointer;
}

.hackerman {
  height: 87px;
}

.k-header {
  text-align-last: left;
  margin: 50px 0;
}

.k-header > * {
  pointer-events: none;
}

ul {
  margin-left: 7px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  height: 40px;
  line-height: 40px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 22px;
}

a:link,
a:visited {
  border: 3px solid black;
  border-radius: 2px;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
}

a:hover,
a:active {
  background-color: black;
  color: white;
}

.hidden {
  display: none;
}
